/* General Body Styles */
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #da68a9, #cf6aba, #bf6fcb, #a875da, #8a7ce8, #6990f6, #41a1fe, #00b1ff, #00ccff, #00e2ea, #00f2af, #5ffb60);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.6rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-bottom: 80px;
  /* padding-top: 20px; */
}

textarea {
  height: 200px;
  width: 90%;
  max-width: 550px;
  padding: 10px;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', serif;
  box-shadow: 5px 5px 15px rgb(50, 50, 51);
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.67);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  margin-bottom: 20px;
}

button {
  height: 50px;
  width: 120px;
  border-radius: 25px;
  font-size: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in;
  margin: 10px;
  cursor: pointer;
}

#start-btn {
  background-color: hsl(127, 15%, 89%);
  color: #fff;
  -webkit-text-fill-color: black;
  box-shadow: 5px 5px 15px green;

}

#stop-btn {
  background-color: hsl(0, 13%, 94%);
  -webkit-text-fill-color: black;
  box-shadow: 5px 5px 15px red;

  color: #fff;
}

#start-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(134, 78%, 51%);
  -webkit-text-fill-color: rgb(255, 255, 255);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  transform: scale(1.2);
}
#stop-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(9, 86%, 50%);
  -webkit-text-fill-color: rgb(255, 255, 255);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  transform: scale(1.2);
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261, 80%, 48%);
  color: #fff;
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  textarea {
      width: 100%;
      font-size: 1.2rem;
      height: 150px;
  }

  button {
      width: 100px;
      font-size: 0.9rem;
     
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
  }

  textarea {
      font-size: 0.8rem;
      height: 120px;
  }

  button {
      width: 90px;
      font-size: 0.8rem;
  }
}
